
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Records</title>
</head>
<body style="background-color: rgba(231, 112, 112, 0.548);">
    {% extends 'base.html' %}
    {% block content %}    
<div class='col-md-4 offset-md-4'>
    
    <h1>⚛️Add Record⚛️</h1><br>
    <form method="POST" action="{% url 'add_record' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- represent form -->
        <button class="btn btn-secondary">Add</button>
    </form>

</div>
    {% endblock %}
</body>
</html>
